body {
  background-color: #2E2E2E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
}

#quote-box {
  background-color: white;
  padding: 40px 60px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #333;
  width: 60%;
  max-width: 600px;
}

#text,
#author {
  transition: opacity 0.5s;
}

.invisible {
  opacity :0;
}

#author {
  font-size: 20px;
  text-align: right;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button,
a {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-weight: bold;
}

button:hover,
a:hover {
  background-color: #555;
  cursor: pointer;
}